frugalware/dtd/volumes.dtd

<!ELEMENT volumes (fst_root , out_dir? , version? , codename? , lang? , volume+)>
<!ELEMENT volume (arch? , media , serial? , size?)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT codename (#PCDATA)>
<!ELEMENT lang (#PCDATA)>
<!ELEMENT arch (#PCDATA)>
<!ELEMENT media (#PCDATA)>
<!ELEMENT serial (#PCDATA)>
<!ELEMENT size (#PCDATA)>
